<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" type="text/javascript"></script>
    <style>
        label.error {
            color: red;
            line-height: 1;
            font-size: 80%;
            display: block;
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark text-light text-center">
        <h2>Spring Boot MVC & Thymeleaf</h2>
    </nav>
    <div class="d-flex align-self-center justify-content-center">
        <div class="row mt-4">
            <div class="col-md-4">
                <div id="save" th:switch="${personDetails}">
                    <div th:case="null">
                        <h3 class="text-center">Kişi Ekle</h3>
                        <form action="#" th:action="@{/addPerson}" th:object="${person}" method="post" style="width: 300px;">
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{name}" class="form-control d-block" placeholder="Ad Soyad Giriniz.." required>
                                <div class="invalid-feedback d-block">
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" th:field="*{email}"  class="form-control d-block" placeholder="Email Giriniz.." required>
                                <div class="invalid-feedback d-block">
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                            </div>
                            <div class="input-group mb-3" >
                                <input type="text" th:field="*{phone}"  class="form-control d-block" placeholder="Telefon No Giriniz.." required>
                                <div class="invalid-feedback d-block">
                                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success">Kaydet</button>
                        </form>
                    </div>
                </div>
                <div id="update" th:switch="${personDetails}">
                    <div th:case="null"></div>
                    <div th:case="*">
                        <h3 class="text-center">Kişi Güncelle</h3>
                        <form action="#" th:action="@{/persons/{id}(id=${personDetails.id})}" th:object="${person}" method="post" id="updateForm" style="width: 300px;">
                            <div class="input-group mb-3">
                                <input type="text" id="name" name="name" th:value="${personDetails.name}"  class="form-control d-block" placeholder="Ad Soyad Giriniz.." required>
                                <div class="invalid-feedback d-block">
                                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" id="email" name="email" th:value="${personDetails.email}" class="form-control d-block" placeholder="Email Giriniz.." required>
                                <div class="invalid-feedback d-block">
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>
                            </div>
                            <div class="input-group mb-3" >
                                <input type="text" id="phone" name="phone" th:value="${personDetails.phone}" class="form-control d-block" placeholder="Telefon No Giriniz.." required>
                                <div class="invalid-feedback d-block">
                                    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
                                </div>
                            </div>

                            <a href="/" type="reset" class="btn btn-secondary">Vazgeç</a>
                            <button type="submit" class="btn btn-success">Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="list" th:switch="${personList}" class="col-md-8">
                <h2 th:case="null">Kişi bulunamadı!</h2>
                <div th:case="*" class="table-wrapper">
                    <div class="table-title">
                        <h3 class="text-center">Kişiler</h3>
                    </div>

                    <table class="table table-bordered table-stripped">
                        <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Ad-Soyad</th>
                            <th scope="col">Email</th>
                            <th scope="col">Telefon</th>
                            <th scope="col">Düzenle</th>
                            <th scope="col">Sil</th>
                        </tr>
                        </thead>
                        <tbody id="personList">
                            <tr th:each="person : ${personList}">
                                <td th:text="${person.id}"></td>
                                <td th:text="${person.name}"></td>
                                <td th:text="${person.email}"></td>
                                <td th:text="${person.phone}"></td>
                                <td><a th:href="@{/persons/{id}(id=${person.id})}" class='btn btn-info' id='editPerson'>Düzenle</a></td>
                                <td><a th:href="@{/deletePerson/{id}(id=${person.id})}" class='btn btn-danger' id='deletePerson'>Sil</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
</body>
</html>